.main-section {
    min-height: 100vh;
    width: 100%;

    .Hero {
        width: 100%;
        min-height: 100vh;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
       
        margin: 0 auto;   // centraliza igual ao figma
        padding: 0 40px;  // espaçamento lateral igual ao figma

        background-image: url('S:/FAW_prj/FAW/public/svg/background.hero.svg');
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;

        .transparent {
            margin-top: 150px;
            grid-column: 7 / span 4; 
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                margin-top: 42px;
                margin-bottom: 33px;
            }

            /* Estilos internos */
            .p1 {
                font-family: 'Montserrat', sans-serif;
                font-size: 35px;
                font-weight: 600;
                color: #fff;
                text-align: center;
                margin-bottom: 18px;
            }

            .p2 {
                font-family: 'Inter', 'Montserrat', sans-serif;
                font-size: 17px;
                font-weight: 500;
                color: #fff;
                text-align: center;
                margin-bottom: 42px;
            }

            .p3 {
                font-family: 'Inter', 'Montserrat', sans-serif;
                font-size: 19px;
                font-weight: 500;
                color: #fff;
                text-align: center;
            }

            button {
                font-family: 'Montserrat', sans-serif;
                font-size: 22px;
                font-weight: 700;
                color: #000;
                margin-bottom: 41px;
            }

            input{
                background-color: transparent;
                border: 1px solid #82828266;
                padding: 23px  375px 23px  17px;
                margin-bottom: 15px;
                border-radius: 5px;
            }
        }
    }

    .about-section {
        .about-flex {
            display: flex;
            flex-direction: row;
        }
    }
}

/* RESPONSIVO */
@media (max-width: 800px) {
    .Hero {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        justify-items: center;

        .transparent {
            width: 90%;
            height: auto;
        }
    }
}
