<section>
    <div class="Hero">
        <div class="transparent" divTransparent>
            <img src="../../../../../svg/FAW.logotipo.svg" alt="">
            <p class="p1">
                O mais completo curso de produção audiovisual do Brasil
            </p>
            <p class="p2">
                Cadastre-se na comunidade de espera e faça parte da construção
            </p>

            <input type="text">
            <input type="email">
            <input type="number">

            <button BtnGrupo></button>
        </div>

       
    </div>
</section>
