.main-section{
   
    min-height: 100vh;
    width: 100%;

    .Hero{
        width: 100%;
        height: 100vh; //ocupa a altura total da tela 
        background-image: url('S:/FAW_prj/FAW/public/svg/background.hero.svg');
        background-repeat: no-repeat;
        background-size: cover;   // Faz a imagem preencher a tela 
        Overflow-x: hidden; //tirar o scroll lateral
        
        .transparent{
           .p1{
            font-family: 'Montserrat', sans-serif;
            font-size: 35px;
            font-weight: 600;
            color: #fff;
            text-align: center;
           } 
           .p2{
            font-family: 'Inter', 'Montserrat', sans-serif;
            font-size: 17px;
            font-weight: 500;
            color: #fff;
            text-align: center;
           }
           .p3{
            font-family: 'Inter', 'Montserrat', sans-serif;
            font-size: 19px;
            font-weight: 500;
            color: #fff;
            text-align: center;
           }

           button{
                font-family: 'Montserrat', sans-serif;
                font-size: 22px;
                font-weight: 700;
                color: #000;
           }
        }
    }
}

.main-section{
    .about-section{
        .about-flex{
            display: flex;
            flex-direction: row;

        }
    }
}