<section class="main-section">
    <div class="Hero">
        <div class="transparent" divTransparent>
            <img src="../../../../../svg/FAW.logotipo.svg" alt="">
            
                <p class="p1">
                    O mais completo curso de produção audiovisual do Brasil
                </p>
                <p class="p2">
                    Cadastre-se na comunidade de espera e faça parte da construção
                </p>

                <input type="text" placeholder="Seu nome e sobrenome">
                <input type="email" placeholder="Seu email">
                <input type="number" placeholder="Seu whasapp com DDD">

                <button BtnGrupo>QUERO ENTRAR NO GRUPO</button>

                <p class="p3">
                    Aprenda na prática com os melhores e conquiste a sua liberdade financeira de qualquer lugar do mundo!
                </p>
            
            
        </div>  
    </div>
</section>

<section class="main-section">
    <div class="about-section">
        <p class="p1">
            Torne-se um profissional completo com alto grau de excelência e
        </p>
        <p class="p2">
             veja seu faturamento
            superar os <span>5 dígitos todos os meses</span> 
        <p class="texto-about">
            O que terá na comunidade de espera:
        </p>

        <div class="about-flex">
            <div class="divisao">
                <div class="bloco-1" about>
                    <img src="../../../../../svg/pessoa.png.svg" alt="">
                    <p class="fraseEfeito">
                        Feito pra você
                    </p>
                    <p class="frase">
                        Pesquisas para construirmos o curso com base nas suas
                        principais necessidades.
                    </p>
                </div>

                <div about>
                    <img src="../../../../../svg/mouse.png.svg" alt="">
                    <p class="fraseEfeito">
                        Feito pra você
                    </p>
                    <p class="frase">
                        Processos seletivos da Faw
                    </p>
                </div>

            </div>

            <div class="divisao2">
                 <div class="bloco-2" about>
                    <img src="../../../../../svg/relogio.png.svg" alt="">
                    <p class="fraseEfeito">
                        100% Atualizado
                    </p>
                    <p class="frase">
                        Atualizações em primeira mão sobre o lançamento e andamento do curso.
                    </p>
                </div>

                <div about>
                    <img src="../../../../../svg/estrela.png.svg" alt="">
                    <p class="fraseEfeito">
                        Condição especial
                    </p>
                    <p class="frase">
                        Condição especial de lançamento do curso para quem tiver na comunidade.
                    </p>
                </div>  
            </div> 
        </div>
        <button BtnGrupo>QUERO ENTRAR NO GRUPO</button>
        
    </div>
</section>

<section class="main-section">
     <div class="footer-section">
        
            <p class="p2">
            Para quem será o curso da Faw Studios:
            </p>
       
        
        <div class="footerFundo" footerFundo>
            <img src="../svg/correto.png.svg" alt="">
            <p class="p1">
                    Para quem quer iniciar no mundo do audiovisual com os dois pés na porta
            </p>
        </div>
        
        <div class="footerFundo" footerFundo>
            <img src="../svg/correto.png.svg" alt="">
            <p class="p1">
                    Para quem já trabalha no audiovisual e quer atingir um novo nível de excelência
            </p>
        </div>
        
          <div class="footerFundo" footerFundo>
            <img src="../svg/correto.png.svg" alt="">
            <p class="p1">
                   Para você que deseja construir o próprio estúdio de audiovisual e lançar sua empresa no mercado
            </p>
        </div>
            
        <div class="footerFundo" footerFundo>
            <img src="../svg/correto.png.svg" alt="">
            <p class="p1">
                    Para você que é criador de conteúdo e busca dominar a arte de fazer vídeos virais
            </p>
        </div> 
        
     </div>
</section>