<section class="main-section">
    <div class="Hero">
        <div class="transparent" divTransparent>
            <img src="../../../../../svg/FAW.logotipo.svg" alt="">
            <p class="p1">
                O mais completo curso de produção audiovisual do Brasil
            </p>
            <p class="p2">
                Cadastre-se na comunidade de espera e faça parte da construção
            </p>

            <input type="text">
            <input type="email">
            <input type="number">

            <button BtnGrupo>QUERO ENTRAR NO GRUPO</button>

            <p class="p3">
                Aprenda na prática com os melhores e conquiste a sua liberdade financeira de qualquer lugar do mundo!
            </p>
        </div>  
    </div>
</section>

<section class="main-section">
    <div class="about-section">
        <p>
            Torne-se um profissional completo com alto grau de excelência e veja seu faturamento
            superar os <span>5 dígitos todos os meses</span> 
        </p>

        <p>
            O que terá na comunidade de espera:
        </p>

        <div class="about-flex">
            <div>

                <div about>
                    <img src="../../../../../svg/pessoa.png.svg" alt="">
                    <p>
                        Feito pra você
                    </p>
                    <p>
                        Pesquisas para construirmos o curso com base nas suas
                        principais necessidades.
                    </p>
                </div>

                <div about>
                    <img src="../../../../../svg/pessoa.png.svg" alt="">
                    <p>
                        Feito pra você
                    </p>
                    <p>
                        Pesquisas para construirmos o curso com base nas suas
                        principais necessidades.
                    </p>
                </div>

            </div>

            <div>
                 <div about>
                    <img src="../../../../../svg/pessoa.png.svg" alt="">
                    <p>
                        Feito pra você
                    </p>
                    <p>
                        Pesquisas para construirmos o curso com base nas suas
                        principais necessidades.
                    </p>
                </div>

                <div about>
                    <img src="../../../../../svg/pessoa.png.svg" alt="">
                    <p>
                    Feito pra você
                    </p>
                    <p>
                        Pesquisas para construirmos o curso com base nas suas
                        principais necessidades.
                    </p>
                </div>  
            </div> 
        </div>
        <button BtnGrupo>QUERO ENTRAR NO GRUPO</button>
        
    </div>
</section>
