section{
    .Hero{
        width: 100%;
        height: 100vh; //ocupa a altura total da tela 
        background-image: url('S:/FAW_prj/FAW/public/svg/background.hero.svg');
        background-repeat: no-repeat;
        background-size: cover;   // Faz a imagem preencher a tela 
        Overflow-x: hidden; //tirar o scroll lateral
        
        .transparent{
           .p1{
            font-family: 'Montserrat', sans-serif;
            font-size: 35px;
            font-weight: 600;
            color: #fff;
           } 
           .p2{
            font-family: 'Inter', 'Montserrat', sans-serif;
            font-size: 17px;
            font-weight: 500;
            color: #fff;
           }
        }
    }
}