.main-section {
     -height: 100vh;
    width: 100%;

    .Hero {
        width: 100%;
        min-height: 100vh;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
       
        margin: 0 auto;   // centraliza igual ao figma
        padding: 0 40px;  // espaçamento lateral igual ao figma

        background-image: url('S:/FAW_prj/FAW/public/svg/background.hero.svg');
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;

        .transparent {
            margin-top: 150px;
            grid-column: 7 / span 4; 
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                margin-top: 42px;
                margin-bottom: 33px;
            }

            /* Estilos internos */
            .p1 {
                font-family: 'Montserrat', sans-serif;
                font-size: 35px;
                font-weight: 600;
                color: #fff;
                text-align: center;
                margin-bottom: 18px;
            }

            .p2 {
                font-family: 'Inter', 'Montserrat', sans-serif;
                font-size: 17px;
                font-weight: 500;
                color: #fff;
                text-align: center;
                margin-bottom: 42px;
            }

            .p3 {
                font-family: 'Inter', 'Montserrat', sans-serif;
                font-size: 19px;
                font-weight: 500;
                color: #fff;
                text-align: center;
            }

            button {
                font-family: 'Montserrat', sans-serif;
                font-size: 22px;
                font-weight: 700;
                color: #000;
                margin-bottom: 41px;
            }

            input{
                background-color: transparent;
                border: 1px solid #82828266;
                padding: 23px  375px 23px  17px;
                margin-bottom: 15px;
                border-radius: 5px;
            }
        }
    }

    .about-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: #000;
        
        .p1{
          font-family: 'Montserrat', sans-serif; 
            font-size: 30px; 
            font-weight: 500;
            color: #FFFFFF;
            text-align: center;
        }

        .p2{
          font-family: 'Montserrat', sans-serif; 
            font-size: 30px; 
            font-weight: 500;
            color: #FFFFFF;
            text-align: center;

            margin-bottom: 64px;
  
            span{
                color:#F49612
            }
        }
        .texto-about{
          font-family: 'Montserrat', sans-serif; 
            font-size: 16px; 
            font-weight: 400;
            color: #FFFFFF;
            text-align: center;

            margin-bottom: 34px;
        }
        .about-flex {
            display: flex;
            flex-direction: row;
            gap: 23px;

            .bloco-1{
                margin-bottom: 23px;
            }
            .bloco-2{
                margin-bottom: 23px;
            }
            .divisao,.divisao2{
                margin-bottom: 64px;
            }
            
            .fraseEfeito{
                font-family: 'inter', 'Montserrat', sans-serif;
                font-size: 23px;
                font-weight: 700;
                color: #FFFFFF;
            }
            .frase{
                font-family: 'inter', 'Montserrat', sans-serif;
                font-size: 15px;
                font-weight: 500;
                color: #FFFFFF;
            }
        }
    }

    .footer-section {
        width: 100%;
        height: auto;
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
        gap: 24px;

        .footerFundo{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 16px;
            box-sizing: border-box;
        }
        .p1{
            font-family: 'Montserrat', sans-serif; 
            font-size: 20px; 
            font-weight: 500;
            color: #FFFFFF;
            text-align: center;
            
            
        }

        .p2{
            font-family: 'Montserrat', sans-serif; 
            font-size: 16px; 
            font-weight: 400;
            color: #FFFFFF;
            text-align: center;
            margin-top: 50px;
        }
    }
}

/* RESPONSIVO */
@media (max-width: 800px) {
    .Hero {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        justify-items: center;

        .transparent {
            width: 90%;
            height: auto;
        }
    }
    
}

@media (max-width: 761px) {
    .about-section {
        .about-flex {
            flex-direction: column !important;
            align-items: center;
            .divisao {
                margin-bottom: 0px !important // menor para mobile
            }

            
            .divisao2 {
                margin-bottom: 30px  // menor para mobile
            }
        }
    }
}
